
.app__body{
  background-color: rgb(32, 31, 31);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app__header{
  font-size: 30pt;
  color: #fff;
}
.users__container{
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.group__input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.group__input > input{
  color: white;
  background: transparent;
  border-radius: 50px;
  width: 340px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
}
.group__input > input:last-of-type{
  margin-bottom: 50px;
}
.create__group{
  margin-top: 20px;
  padding: 10px;
  background-color: greenyellow;
  width: 200px;
}
.create__group:hover{
  background-color: rgb(71, 107, 175);
  color: #fff;
}